# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnp/
.env

# OS
.DS_Store

# IDE
.vscode/

# --- Build Output (Backend & Frontend) ---
dist/
build/
.next/

# --- Media & Heavy Data ---
gif_stage/
*.log

venv/
__pycache__/
*.pyc
